<div class="d-flex flex-column px-lg-13 mb-lg-11">
  <div class="d-flex flex-column mb-8">
    <h2 class="fw-semibold fs-8 mb-2 mt-20 mt-lg-0 fs-md-10 fs-xl-8 fs-lg-7 fw-md-medium mb-xl-6">¿Has olvidado tu contraseña?</h2>
    <p class="fw-normal fs-4  fs-md-6 lh-20 fs-xl-4 fs-lg-3">Escibe en la casilla tu mail y te enviaremos las instrucciones para cambiarla.</p>
  </div>
  <div class = "mb-4 mb-lg-2" >
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field mb-lg-5 mb-6 mb-md-8">
        <%= f.email_field :email, autocomplete: "email", class: "border-0 border-bottom-solid outline-none text-black w-100 fs-md-6 fs-lg-4",placeholder: "Email" %>
        <% resource.errors.full_messages_for(:email).each do |message| %>
          <p class= "text-danger"><%= message%></p>
        <% end %>
      </div>
      <div class="actions mb-lg-5 mb-6 mb-md-8">
        <%= f.submit "Enviar instrucciones", class: "color-white bg-Blue-lg-30deg border-1 rounded-2 hover-bg-white fs-3  fs-lg-4 fs-md-6 hover-border-solid fs-xl-4 hover-border-color-mixBlue border-color-transparent w-100"%>
      </div>
    <% end %>
    <div class="d-flex justify-content-between mb-25 mb-lg-15">
      <%= link_to '¡Regístrate aquí!', new_user_registration_path, class: 'fs-4 text-blue-2 text-decoration-none' %>
      <%= link_to 'Inicia sesión aquí', new_user_session_path, class: 'fs-4 text-blue-2 text-decoration-none' %>
    </div>
  </div>
</div>
