<div class="d-none d-sm-flex flex-column">
  <h6 class = "fs-5 fw-normal">REGALOS</h6>
  <h4 class = "fs-7 fw-medium">Food Box</h4>
  <p class = "fs-3 text-role-grey">Más de 30 opciones</p>
</div>
<div class="d-sm-none d-flex justify-content-center">
  <p class = "fs-4 text-role-grey">8 resultados</p>
</div>
<div class="d-none d-lg-flex flex-row justify-content-between border-0 border-bottom-solid pb-3">
  <%= form_with model: @filters, url: "/regalos", method: :get, class: 'd-flex justify-content-between w-80', data: {controller: 'auto-submit'} do |form| %>
    <div class="d-flex column-gap-1">
      <%= form.collection_check_boxes(:categories_ids, @categories, :id, :name, include_hidden: false) do |b| %>
        <% b.label(class: 'btn btn-outline-dark px-3 py-1', data: {action: 'click->auto-submit#submit', controller: 'style-labels', style_labels_target: 'label', style_labels_background_class: 'bg-black text-white', style_labels_text_class: 'text-white' }) { b.check_box(class: 'd-none', data: { style_labels_target: 'checkBox', action: 'click->style-labels#check' }) + b.text } %>
      <% end %>
    </div>
  <% end %>
  <div class="d-flex align-items-center">
    <p class="mb-0 fw-light">Ordenar por <%= image_tag("Flecha.svg") %> </p>
  </div>
</div>
<div class="d-flex justify-content-sm-between justify-content-center pt-8 flex-wrap row-gap-5">
  <% @gifts.each do |gift| %>
    <div class="d-flex flex-column bg-white rounded-2 hover-border-grey border-style-solid border-color-transparent me-2">
      <div>
        <%= image_tag(gift.image_resized, class: 'rounded-top-2') %>
      </div>
      <div class="d-flex flex-column px-3 pt-4">
        <div class="d-flex justify-content-between">
          <p class= "fs-4 fw-medium mb-0"><%= gift.name.truncate(12, separator: ' ') %></p>
          <div class="d-flex align-items-center">
            <p class="mb-0 fs-4 bg-text-gradient-blue-20 text-fill-color-transparent "><%= gift.valoration %> <%= image_tag('Estrella.svg', class:'pb-1') %></p>
          </div>
        </div>
        <p class="fs-4 text-role-grey mb--3"><%= gift.supplier_name %></p>
        <p class="fs-4 text-blue-2 mb-3">$<%= gift.price %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex my-3 justify-content-center mx-0">
  <%= paginate @gifts %>
</div>
