<div class="d-lg-none ">
  <div class="d-flex flex-column text-grey mb-2 fs-1 fs-md-3">
    <%= image_tag('footer_logo.svg', class:'mb-6 footer-logo') %>
    <div
          class="d-flex flex-row justify-content-between py-1 border-bottom-solid"
        >
      <p class="mb-0">info@planit.com.uy</p>
      <p class="mb-0">Tel: +598 96593615</p>
    </div>
    <div
          class="d-flex flex-row justify-content-between align-items-center mt-1 fs-md-3"
        >
      <p class="mb-0">PlanIT, 2021 - All rights reserved</p>
      <div class="d-flex flex-row column-gap-4">
        <%= image_tag('Facebook.svg', class: 'img-icon') %>
        <%= image_tag('Linkedin.svg', class: 'img-icon') %>
        <%= image_tag('Twitter.svg', class: 'img-icon') %>
        <%= image_tag('Instagram.svg', class: 'img-icon') %>
      </div>
    </div>
  </div>
</div>
